@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Montserrat:wght@200;300;400&family=Poppins:wght@200;400;600&family=Quicksand:wght@400;700&family=Raleway:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;
  font-family: "Poppins", sans-serif;
}
.section-tittle {
  margin: 25px 0;
  background: #023b55;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 10px;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #023b55;
}
.navbar {
  width: 100%;
  height: 3.8rem;
  background: #1aad92;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  position: fixed;
}
.logo {
  color: #fff;
  font-size: 25px;
}
.nav-links {
  display: flex;
  color: #fff;
  gap: 15px;
  margin-left: 400px;
}
.nav-links li a {
  color: #fff;
  transition: all 0.5s ease-in-out;
}
#menu-bar {
  color: #fff;
  font-size: 2rem;
}

.nav-links li a:hover {
  color: #050606;
}

/*Home*/
.inner-home {
  height: 100%;
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
.child-home {
  text-align: center;
  justify-content: space-around;
}

.child-images {
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #023b55;
  opacity: 0.9;
  border: #023b55;
}

.child-home h1 {
  color: #fff;
  font-size: 3rem;
}
.child-home h1 span {
  color: #1aad92;
}
.child-home p {
  color: #fff;
  font-size: 1.5rem;
}
.btn {
  padding: 10px 20px;
  color: #fff;
  margin-top: 10px;
  background-color: transparent;
  border: 2px solid #1aad92;
  border-radius: 15px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.btn:hover {
  box-shadow: 0 0 15px 0 #1aad92;
  border: 2px solid #1aad92;
}
/* Codes */

.inner-software {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #fff;
}
.innersoftware-child {
  margin-top: 15px;
  background: #8a9daf8e;
  width: 20rem;
  height: 13rem;
  border-radius: 10px;
  text-align: center;
  padding: 20px 10px;
  align-items: center;
  flex-wrap: wrap;
}
.innersoftware-child:hover {
  border: 5px solid #24caac;
}

.innersoftware-child h3 {
  font-size: 20px;
  color: #fff;
}
.innersoftware-child p {
  font-size: 12px;
  color: #fff;
}
.icons i {
  font-size: 25px;
  color: #fff;
}

/* certificates */
.inner-certificates {
  background: #8a9daf8e;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  border: 2px solid #fff;
  margin: none;
  padding: none;
}
.innercertificates-child h4,
h2 {
  color: #fff;
}
.innercertificates-child {
  flex-basis: 20%;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.innercertificates-child img {
  width: 20rem;
}
.inner-certificates .icons i {
  font-size: 25px;
  color: #f2e208;
}

/* achievements */

.inner-achievements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.innerachievements-child .image {
  text-align: center;
}
.inner-achievements .image img {
  width: 30rem;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
}
.innerachievements-child {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  text-align: center;
}
.innerachievements-child .card1,
.card2,
.card3,
.card4 {
  width: 20rem;
  height: 15rem;
  border-radius: 10px;
  padding: 40px 30px;
  transition: 0.3s;
}
.innerachievements-child,
h2,
h4 {
  color: #fff;
}
.card1 {
  background: #66cc99;
}
.card2 {
  background: #802aa5;
}
.card3 {
  background: #e77225;
}
.card4 {
  background: #4492e0;
}

/* about */
.inner-references {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.innerreferences-child {
  flex-basis: 46%;
  margin-bottom: 10px;
}
.innerreferences-child img {
  border-radius: 50%;
  padding: 5px;
}
.innerreferences-child p,
h3 {
  color: #fff;
}
.innerreferences-child h4 {
  color: #ff6600;
}
/* contact */

.inner-contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  gap: 2rem;
}

.child-contact {
  flex-basis: 48%;
}
.child-contact img {
  width: 30rem;
  color: #fff;
}
.child-contact form {
  padding: 50px 40px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #08084c;
  border-radius: 12px;
}
.child-contact form input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: #336699;
  color: #fff;
  border-radius: 5px;
}
::placeholder {
  color: #fff;
}

.site-footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

.site-footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.social-icons .icons {
  margin-bottom: 20px;
}

.social-icons .icons {
  display: inline-block;
  margin: 0 10px;
}
.social-icons .icons :hover {
  color: #1aad92;
}
.social-icon img {
  width: 30px;
  height: 30px;
}

.rights {
  font-size: 14px;
  margin-top: 10px;
}

.social-icons {
  color: #fff;
}

/* media */
@media screen and (max-width: 768px) {
  .child-contact form {
    width: 500px;
  }
  .nav-links {
    display: none;
  }
  .logo h2 a {
    font-size: 20px;
  }
  #menu-bar {
    display: grid;
  }

  .inner-home {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .inner-certificates {
    border: none;
    background-color: #023b55;
  }

  section .codes {
    display: none;
  }

  .inner-achievements {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .child-home {
    margin-top: 20%;
  }
}
